.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
  }
  
  .header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    cursor: pointer;
    
  }

  .logo{
    display: flex;
    justify-content: center;
    
  }
  
  .header__search {
    display: inline-flex;
    flex: 1;
    align-items: center;
    border: white;
    width: 100%;
    justify-content: center;
    background-color: #131921;
  }
  
  .header__searchInput {
    height: 16px;
    padding: 10px;
    border: none;
    width: 75%;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    outline: none;
  }
  
  .header__searchIcon {
    padding: 5px;
    height: 27px !important;
    background-color: #f0c14b;
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
    font-size: 40px;
    cursor: pointer;
    
  }

  .header__searchIcon:hover{
    background-color: #cd9042;
    transition: 0.3s;
  }

  
  
  .header__optionLineOne {
    font-size: 10px;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header__nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #131921;
  }
  
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
  }

  .header__cartIcon{
    font-size: 25px;
  }

  .header__deliver{
    display: block;
    flex-direction: column;
    color: white;
    object-fit: contain;
    justify-content: left;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;

  }

  .header__globeLogo{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
  }

  .header__arrowLogo{
    font-size: 20px;
    margin-top: 17px;
  }

  .header__country{
    display: flex;
    margin-left: 10px !important;
    margin-right: 10px !important;
    color: white;
  }

  @media screen and (max-width: 1250px){
    .header{
      display: block;
      padding: 0;
    }
  }

  .banner p{
    text-align: center;
    background-color: #1c2e4a;
    color: white;
    height: 25px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    font-size: 14px;
    font-weight: 400;
  }

  .disclaimer p{
    text-align: center;
    background-color: #37475a;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
    height: 25px;
    color: white;
    font-size: 10.5px;
  }

  .disclaimer__icon{
    color: white;
    font-size: 12px;
    margin-right: 5px;
    font-weight: 800;
  }

  .inline{
    display: flex;
  }

  .header__option:hover{
    transform: scale(1.07);
  }
  .header > .header__nav > a {
    text-decoration: none;
}

